<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DailyShakespeare" connectionString="metadata=res://*/DailyShakespeare.csdl|res://*/DailyShakespeare.ssdl|res://*/DailyShakespeare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DailyShakespeare;persist security info=True;user id=sa;password=d3vI$Fun;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>