@model DailylShakespeare.Site.Models.HomeViewModel
@using DailylShakespeare.Site.Models;

<div id="body">
    @*<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Latest Updates</h1>
            </hgroup>
        </div>
    </section>*@
    <section class="content-wrapper main-content clear-fix">
        <h3>Latest Updates</h3>
        <ol class="round">
            
            @foreach (var update in Model.Updates.Select((x, i) => new { Item = x, i = i + 1 }))
            {
                <li class="@Html.TranslateNumber(update.i)">
                    <h5>@update.Item.Date</h5>
                    @string.Format("{0} {1} - {2} - {3}: {4}",update.Item.User.FirstName, update.Item.User.LastName, update.Item.UpdateAction.Description, update.Item.UpdateType.Description, update.Item.UpdatedItemName)
                </li>
                
            }
        </ol>
    </section>
</div>
