@model DailylShakespeare.Site.Models.HomeViewModel

<div id="body">
    @*<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Latest Updates</h1>
            </hgroup>
        </div>
    </section>*@
    <section class="content-wrapper main-content clear-fix">
        <h3>Latest Updates</h3>
         <ol class="round">
        @foreach(var update in Model.Updates)
        {
            <li class="one">
                <h5>@update.Date</h5>
                @string.Format("{0} {1} - {2} - {3}: {4}",update.User.FirstName, update.User.LastName, update.UpdateAction.Description, update.UpdateType.Description, update.UpdatedItemName)
            </li>
            @*<li class="three">
                <h5>Find Web Hosting</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>*@
        }
        </ol>
    </section>
</div>
