@model MonologueViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Monologues</title>
</head>
<body>
    <div>
        <form action="SaveMonologue">
            @Html.DropDownListFor(x => x.SelectedPlayId, new SelectList(Model.Plays, "Id", "Name"));
            @Html.DropDownListFor(x => x.SelectedCharacterId, new SelectList(Model.Characters, "Id", "Name"));
            @Html.TextAreaFor(x => x.Content);
            <input type="submit" value="Save"/>

        </form>
    </div>
</body>
</html>
